body {
    background: radial-gradient(ellipse at center, rgba(255,173,217,1) 0%, rgba(212,0,39,1) 100%);
}

h1 {
    color: whitesmoke;
    text-shadow: 0px 2px 2px black;
}

h5 {
    margin-top: 20px;
    margin-bottom: 20px;
    color: whitesmoke;
    text-shadow: 0px 2px 2px black;
}

li {
    color: dimgrey;
    opacity: 0.8;
    border: none;
}

form div {
    display: flex;
}

.container {
    width: 400px;
    margin: 0 auto;
}

#controls {
    text-align: center;
    margin-top: 35px;
    ;
}

.time {
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 0px;
    color: whitesmoke;
    font-size: 20vh;
    text-shadow: 0px 3px 5px black;
    opacity: 0.9;
}

.btn-lg {
    background-color: whitesmoke;
    border: none;
    box-shadow: 0px 4px 5px black;
    opacity: 0.9;
}

.btn-lg:active {
    background-color: whitesmoke;
    border: none;
    box-shadow: 0px 1px 1px black;
}

.center-block {
    max-width: 40%;
}

.glyphicon {
    color: darkcyan;
}

.list-group-item {
    border: none;
    background-color: whitesmoke;
    text-decoration: line-through;
    max-width: 25%;
}

ul {
    height: 150px;
    overflow: auto;
    background-color: whitesmoke;
    box-shadow: 0px 4px 5px black;
    opacity: 0.8;
    border-radius: 3px;
}

li {
    max-width: 100%;
}

.list-group {
    padding-left:1px;
}

#task {
    border: none;
    opacity: 0.8;
    width: 250px;
    height: 30px;
    margin-top: 30px;
    margin-right: 0px;
    border-radius: 0%;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

.btn-success {
    background-color: darkcyan;
    border: none;
    margin-top: 30px;
    margin-left: 0px;
    height: 30px;
    border-radius: 0%;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

section {
    display: flex;
    flex: auto;
}

/*============== THEMES =============*/

.theme-degrade {
    height: 10px;
    width: 10px;
    border-radius: 100%;
    margin: 10px;
    box-shadow: 0px 2px 2px black;
}

#pink {
    background: radial-gradient(ellipse at center, rgba(255,173,217,1) 0%, rgba(212,0,39,1) 100%);
}

.degrade-pink {
    background: radial-gradient(ellipse at center, rgba(255,173,217,1) 0%, rgba(212,0,39,1) 100%);
}

#red {
    background: radial-gradient(ellipse at center, rgba(255,120,152,1) 0%, rgba(109,0,25,1) 100%);
}

.degrade-red {
    background: radial-gradient(ellipse at center, rgba(255,120,152,1) 0%, rgba(109,0,25,1) 100%);
}

#green {
    background: radial-gradient(ellipse at center, rgba(219,237,116,1) 0%, rgba(95,110,10,1) 100%);
}

.degrade-green {
    background: radial-gradient(ellipse at center, rgba(219,237,116,1) 0%, rgba(95,110,10,1) 100%);
}

#black {
    background: radial-gradient(ellipse at center, rgba(140,140,140,1) 0%, rgba(19,19,19,1) 100%);;
}

.degrade-black {
     background: radial-gradient(ellipse at center, rgba(140,140,140,1) 0%, rgba(19,19,19,1) 100%);
}

#orange {
    background: radial-gradient(ellipse at center, rgba(250,194,130,1) 0%, rgba(255,94,0,1) 100%);
}

.degrade-orange {
     background: radial-gradient(ellipse at center, rgba(250,194,130,1) 0%, rgba(255,94,0,1) 100%);
}

#cyan {
    background: radial-gradient(ellipse at center, rgba(111,252,203,1) 0%, rgba(0,41,107,1) 100%);
}

.degrade-cyan {
     background: radial-gradient(ellipse at center, rgba(111,252,203,1) 0%, rgba(0,41,107,1) 100%);
}

#brown {
    background: radial-gradient(ellipse at center, rgba(241,231,103,1) 0%, rgba(87,58,12,1) 100%);
}

.degrade-brown {
     background: radial-gradient(ellipse at center, rgba(241,231,103,1) 0%, rgba(87,58,12,1) 100%);
}