body {
    background: radial-gradient(ellipse at center, rgba(212, 76, 108, 1) 0%, rgba(207, 12, 58, 1) 100%);
}

h1 {
    color: whitesmoke;
    text-shadow: 0px 2px 2px black;
}

h5 {
    margin-top: 40px;
    margin-bottom: 20px;
    color: whitesmoke;
    text-shadow: 0px 2px 2px black;
}

li {
    color: dimgrey;
    opacity: 0.8;
    border: none;
}

form div {
    display: flex;
}

.container {
    width: 400px;
    margin: 0 auto;
}

#controls {
    text-align: center;
    margin-top: 35px;
    ;
}

.time {
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: -20px;
    color: whitesmoke;
    font-size: 10em;
    text-shadow: 0px 3px 5px black;
    opacity: 0.9;
}

.btn-lg {
    background-color: whitesmoke;
    border: none;
    box-shadow: 0px 4px 5px black;
    opacity: 0.9;
}

.btn-lg:active {
    background-color: whitesmoke;
    border: none;
    box-shadow: 0px 1px 1px black;
}

.glyphicon {
    color: darkcyan;
}

.list-group-item {
    border: none;
    background-color: whitesmoke;
    text-decoration: line-through;
}

ul {
    height: 150px;
    overflow: auto;
    background-color: whitesmoke;
    box-shadow: 0px 4px 5px black;
    opacity: 0.8;
    border-radius: 3px;
}

#task {
    border: none;
    opacity: 0.8;
    width: 250px;
    height: 30px;
    margin-top: 30px;
    margin-right: 0px;
    border-radius: 0%;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

.btn-success {
    background-color: darkcyan;
    border: none;
    margin-top: 30px;
    margin-left: 0px;
    height: 30px;
    border-radius: 0%;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

section {
    display: flex;
    flex: auto;
}

/*============== THEMES =============*/

.theme-degrade {
    height: 10px;
    width: 10px;
    border-radius: 100%;
    margin: 10px;
    box-shadow: 0px 2px 2px black;
}

#pink {
    background: radial-gradient(ellipse at center, rgba(212, 76, 108, 1) 0%, rgba(207, 12, 58, 1) 100%);
}

.degrade-pink {
    background: radial-gradient(ellipse at center, rgba(212, 76, 108, 1) 0%, rgba(207, 12, 58, 1) 100%);
}

#red {
    background: radial-gradient(ellipse at center, rgba(169, 3, 41, 1) 0%, rgba(143, 2, 34, 1) 44%, rgba(109, 0, 25, 1) 100%);
}

.degrade-red {
    background: radial-gradient(ellipse at center, rgba(169, 3, 41, 1) 0%, rgba(143, 2, 34, 1) 44%, rgba(109, 0, 25, 1) 100%);
}

#green {
    background: radial-gradient(ellipse at center, rgba(164, 179, 87, 1) 0%, rgba(117, 137, 12, 1) 100%);
}

.degrade-green {
    background: radial-gradient(ellipse at center, rgba(164, 179, 87, 1) 0%, rgba(117, 137, 12, 1) 100%);
}

#black {
    background: radial-gradient(ellipse at center, rgba(64,63,64,1) 0%, rgba(19,19,19,1) 100%);
}

.degrade-black {
     background: radial-gradient(ellipse at center, rgba(64,63,64,1) 0%, rgba(19,19,19,1) 100%);
}

#orange {
    background: radial-gradient(ellipse at center, rgba(247,113,89,1) 0%, rgba(246,41,12,1) 100%);
}

.degrade-orange {
     background: radial-gradient(ellipse at center, rgba(247,113,89,1) 0%, rgba(246,41,12,1) 100%);
}

#blue {
    background: radial-gradient(ellipse at center, rgba(73,155,234,1) 0%, rgba(32,124,229,1) 100%);
}

.degrade-blue {
     background: radial-gradient(ellipse at center, rgba(73,155,234,1) 0%, rgba(32,124,229,1) 100%);
}

#cyan {
    background: radial-gradient(ellipse at center, rgba(111,252,203,1) 0%, rgba(0,41,107,1) 100%);
}

.degrade-cyan {
     background: radial-gradient(ellipse at center, rgba(111,252,203,1) 0%, rgba(0,41,107,1) 100%);
}

#brown {
    background: radial-gradient(ellipse at center, rgba(241,231,103,1) 0%, rgba(87,58,12,1) 100%);
}

.degrade-brown {
     background: radial-gradient(ellipse at center, rgba(241,231,103,1) 0%, rgba(87,58,12,1) 100%);
}